* {
  box-sizing: border-box;
}
body {
  position: relative;
}
.up {
  width: 200px;
  height: 200px;
  background: blue;
  border-radius: 0 0 0 200px;
  position: absolute;
  top: 0;
  right: 0;
}
.down {
  width: 200px;
  height: 200px;
  background: blue;
  border-radius: 0 200px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
#container {
  width: 70%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.1em;
  margin: auto;
  padding: 20% 0;
}
img {
  width: 40%;
}
header {
  font-size: 1.5rem;
  font-weight: bold;
}
.card {
  position: relative;
  padding: 1.5rem;
  width: 90%;
  margin: auto;
  box-shadow: 0px 0px 15px 3px gray;
}
.num {
  font-size: 1.5rem;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: -13%;
  left: 40%;
  background-color: white;
}
@media (max-width: 1000px) {
  #container {
    width: 50%;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 30% 0;
  }
  .num {
    left: 44%;
  }
}
@media (max-width: 650px) {
  #container {
    width: 60%;
    padding: 40% 0;
  }
  .num {
    left: 44%;
  }
}
@media (max-width: 550px) {
  .up {
    width: 150px;
    height: 150px;
    border-radius: 0 0 0 150px;
  }
  .down {
    width: 150px;
    height: 150px;
    border-radius: 0 150px 0 0;
  }
}
@media (max-width: 400px) {
  #container {
    width: 70%;
    padding: 50% 0;
  }
}
